body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: white; /* fallback for old browsers */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media only screen and (max-width: 400px) {
  body {
    background: #2d27ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(180deg, #2d27ff, #ff0a6c) fixed; /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(180deg, #2d27ff, #ff0a6c) fixed; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}
