.logoBar {
  height: 5vw;
  background-color: white;
}

.logoImg {
  margin: 1vw;
  height: 3vw;
}

.logoBarTitle {
  margin-top: 1vw;
  margin-right: 2vw;
  font-size: 2vw;
  float: right;
}

.logoBtn {
  height: 5vw;
  width: 5vw;
  margin: 0;
  margin-left: 1vw;
  background-color: transparent;
  border: none;
}
