.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 1);
  position: sticky;
  width: 100%;
  border-top: solid black;
  border-bottom: solid black;
}

.liLeft {
  float: left;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
  margin-left: 0.5vw;
}

.liRight {
  float: right;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
}

.a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.3vw;
  margin-top: 0.3vw;
  margin-bottom: 0.3vw;
}

.aBold {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 2em;
  font-weight: 800;
  margin-top: 0.2vw;
  padding-right: 0;
}

@media only screen and (max-width: 1150px) {
  .a {
    font-size: 2.5vw;
  }
  .logo {
    height: 6vw;
    width: 6vw;
  }
}

@media only screen and (max-width: 940px) {
  .a {
    font-size: 3vw;
  }
  .logo {
    height: 7vw;
    width: 7vw;
  }
}

@media only screen and (max-width: 800px) {
  .a {
    font-size: 3.5vw;
  }
  .logo {
    height: 8vw;
    width: 8vw;
  }
}

@media only screen and (max-width: 650px) {
  .a {
    margin-top: 0vw;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .ul {
    height: 6vw;
  }

  .logo {
    height: 9vw;
    width: 9vw;
  }
}

@media only screen and (max-width: 570px) {
  .a {
    font-size: 3vw;
    padding-right: 10px;
    padding-left: 2px;
  }
  .logo {
    height: 10vw;
    width: 10vw;
  }
}

@media only screen and (max-width: 480px) {
  .a {
  }

  .aBold {
    font-size: 5vw;
    margin-top: 0.5vw;
  }
  .logo {
    height: 11vw;
    width: 11vw;
  }
}

@media only screen and (max-width: 410px) {
  .a {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 6px;
    padding-left: 1px;
  }

  .aBold {
    margin-top: 1vw;
  }
  .logo {
    height: 13vw;
    width: 13vw;
  }
}

@media only screen and (max-width: 330px) {
  .a {
    padding: 25px 4px;
    font-size: 4vw;
  }
  .logo {
    height: 17vw;
    width: 17vw;
  }
}
